.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-title {
  font-size: 1.1rem;
}

.card-img-top {
  object-fit: contain;
  height: 150px;
  width: auto;
  max-width: 100%;
}

button i {
  margin-right: 5px;
}

.ms-auto {
  margin-left: 10px !important;
  margin-top: -50px;
}

.btn-delete{
    margin-left: 160px;
    margin-top: -50px;
}

@media (min-width: 768px) {
  .row-cols-md-3 > * {
      flex: 0 0 auto;
      width: 20%;
      height: 10%;
  }
}

/* Label styling */
.dropdown-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

/* Dropdown styling */
.styled-dropdown {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  appearance: none; /* Removes default dropdown arrow */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23999999" viewBox="0 0 16 16"><path d="M12.146 5.354a.5.5 0 0 1 .708 0l.001.001a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L8 8.293l3.646-3.647z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

/* Hover and focus effects */
.styled-dropdown:hover {
  border-color: #888;
}

.styled-dropdown:focus {
  outline: none;
  border-color: #555;
}


