.card {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 1.1rem;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  // button {
  //   width: 100%;
  //   margin-top: 10px;
  // }
  
  button i {
    margin-right: 5px;
  }
  