
<div class="container mt-4">
  <div style="margin-left: 1100px;">
    <button (click)="createnew()"  class="btn btn-primary">create new article</button>
  </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let item of items" class="col">
        <div class="card h-100">
          <img *ngIf="item.imageUrl && item.imageUrl.length > 0"  [src]="item.imageUrl[0]" class="card-img-top" alt="Image" style="object-fit: cover; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <button class="btn btn-primary me-2" (click)="editItem(item)">
              <i class="bi bi-pencil"></i> Edit
            </button>
            <button class="btn btn-danger" (click)="deleteItem(item.id)">
              <i class="bi bi-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  